<%= button_to path, method: method, class: full_classes, data: { turbo_frame: 'modal' }, disabled: disabled do %>
  <div class="<%= button_content_classes %>">
    <%= icon_tag if icon_name.present? %>
    <%= label if label.present? %>
  </div>
<% end %>
