<div class='container mx-auto p-4 w-3/5 mt-10'>
  <div class="flex justify-between items-start">

  <%# --- Active courses --- %>
  <div class='flex flex-col space-y-6'>
    <h2 class='text-lg font-bold'> Active courses </h2>
    <div class='p-4 rounded-xl bg-purple-300 shadow-lg shadow-black'>
      <p class='text-sm'>Active courses are courses that are published and available for sale. Draft courses, on the other hand, are still in progress and not visible to students. To make your draft course available online, please activate it.</p>
    </div>
    <% if @courses.none? %>
      <p class='italic text-xl'>There are no active courses.</p>
    <% else %>
      <%= render partial: 'courses_list', locals: { courses: @courses } %>
    <% end %>
  </div>
</div>
