<div class='container mx-auto p-4 w-3/5 mt-11'>
  <div class="flex justify-between items-start">
    <h1 class='text-xl font-bold'>Your Courses</h1>
    <%= modal_button_component(label: 'Create Course', icon_name: 'add', path: new_admin_course_path, size: 'small') %>
  </div>

  <%# --- Active courses --- %>
  <div class='flex flex-col space-y-4 rounded-xl shadow-lg shadow-black p-3'> <%# rounded-xl shadow-lg shadow-black %>
    <h2 class='text-lg font-bold'> Active courses </h2>
    <div class='p-4 rounded-xl bg-purple-300 shadow-lg shadow-black'>
      <p class='text-sm'>Active courses are courses that are published and available for sale. Draft courses, on the other hand, are still in progress and not visible to students. To make your draft course available online, please activate it..</p>
    </div>
    <% if @courses.active.none? %>
      <p class='italic text-xl'>There are no active courses.</p>
    <% else %>
      <p class='my-4 italic text-xl'>There are no active courses.</p>
      <%= render partial: 'courses_list', locals: { courses: @courses.active } %>
    <% end %>
  </div>

  <%# --- Separation line --- %>
  <%# <div class="border-b-4 border-gray-500 my-6"></div> %>

  <%# --- Draft courses --- %>

  <div class='flex flex-col space-y-4 mt-10 rounded-xl shadow-lg shadow-black p-3'> <%# rounded-xl shadow-lg shadow-black %>
    <h2 class='text-lg font-bold'> Draft courses </h2>
    <div class='p-4 rounded-xl bg-gray-300 shadow-lg shadow-black'>
      <p class='text-sm'>Draft courses are courses still being worked on and are not visible to students or available for sale. Active courses, on the other hand, are fully published and accessible to students. To make a draft course available online, please activate it.</p>
    </div>
    <% if @courses.draft.none? %>
      <p class='italic text-xl'>There are no draft courses.</p>
    <% else %>
      <p class='my-4 italic text-xl'>There are no active courses.</p>
      <%= render partial: 'courses_list', locals: { courses: @courses.draft } %>
    <% end %>
  </div>
</div>
